<div class="container_cart">
  <div class="container_title">
    <p class="cart_title">Cart</p>
  </div>
  <div class="item_info">
    <div class="item_img">
      <img src="../../../assets/images/image-product-1-thumbnail.jpg" alt="">
    </div>
    <div class="item_desc">
      <p class="item_name">Fall Limited Edition Sneakers</p>
      <p>
        <span class="price">$125.00 x</span>
        <span class="quantity"> 3</span>
        <span class="total"> $375.00</span>
      </p>
    </div>
    <div>
      <button class="delete_btn">
        <img src="../../../assets/images/icon-delete.svg" alt="">
      </button>
    </div>
  </div>
  <div class="checkout">
    <button class="checkout_btn">Checkout</button>
  </div>
</div>
