<div class="container_cart">
  <div class="container_title">
    <p class="cart_title">Cart</p>
  </div>
  <div class="itens" *ngIf="cart.length > 0; else emptyCart">
    <div class="item_info" *ngFor="let item of cart">
      <div class="item_img">
        <img
          src="../../../assets/images/image-product-1-thumbnail.jpg"
          alt=""
        />
      </div>
      <div class="cart_body">
        <div class="item_desc">
          <p class="item_name">{{ item.name }}</p>
          <p>
            <span class="price"
              >${{ item.price - item.price * item.discount }}.00 x</span
            >
            <span class="quantity"> {{ item.quantity }}</span>
            <span class="total">
              {{
                (item.price - item.price * item.discount) * item.quantity
              }}.00</span
            >
          </p>
        </div>
        <div>
          <button class="delete_btn" (click)="removeItemFromCart()">
            <img src="../../../assets/images/icon-delete.svg" alt="" />
          </button>
        </div>
      </div>
    </div>
    <div class="checkout">
      <button class="checkout_btn">Checkout</button>
    </div>
  </div>
  <ng-template #emptyCart>
    <div class="container_empty-cart">
      <p>Your cart is empty.</p>
    </div>
  </ng-template>
</div>
