.container_cart {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 9999;
  background-color: white;
  width: 350px;
  margin: 0 auto;
  border-radius: 10px;
}

.container_title {
  padding: 1rem 0 1.5rem 1rem;
  border-bottom: 1px solid hsl(220, 14%, 75%);
}

.cart_title {
  font-weight: 700;
}

.itens {
  padding: 2rem 1.5rem 1rem 1.5rem;
  display: flex;
  flex-direction: column;
}

.cart_body {
  display: flex;
}

.item_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item_name {
  margin-bottom: 0.5rem;
  color: hsl(219, 9%, 45%);
}

.item_img > img {
  height: 50px;
  border-radius: 5px;
}

.price,
.quantity {
  color: hsl(219, 9%, 45%);
}

.total {
  font-weight: 700;
}

.delete_btn {
  cursor: pointer;
  padding: 1rem 0;
  margin-left: 1rem;
  background-color: transparent;
}

.checkout {
  margin: 1rem 0;
}

.checkout_btn {
  width: 100%;
  padding: 1rem;
  color: aliceblue;
  background-color: hsl(26, 100%, 55%);
  border-radius: 5px;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
}

.container_empty-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.container_empty-cart > p {
  font-weight: 700;
}

@media screen and (min-width: 1440px) {
  .container_cart {
    right: -900px;
    top: -20px;
    box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}
