<div class="sidebar">
  <div class="container_side-bar">
    <ul class="menu">
      <li>
        <img
          (click)="close()"
          class="delete_btn"
          src="../../../assets/images/icon-close.svg"
          alt=""
        />
      </li>
      <li><a href="#">Collections</a></li>
      <li><a href="#">Men</a></li>
      <li><a href="#">Women</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </div>
  <div class="lightbox" (click)="close()"></div>
</div>
