<div class="container_menu">
  <ul class="menu_items">
    <li class="menu_icon" (click)="openSidebar(true)">
      <img src="../../../assets/images/icon-menu.svg" alt="menu icon" />
    </li>
    <li class="logo_icon">
      <img src="../../../assets/images/logo.svg" alt="" />
    </li>
    <li class="menu_items__desktop">
      <div class="menu_items__container">
        <p><a href="">Collections</a></p>
        <p><a href="">Men</a></p>
        <p><a href="">Women</a></p>
        <p><a href="">About</a></p>
        <p><a href="">Contact</a></p>
      </div>
    </li>
    <li class="cart_icon" (click)="openCart(toggleCart)">
      <img src="../../../assets/images/icon-cart.svg" alt="" />
      <div class="cart_quantity" *ngIf="cart.length > 0">
        <p>{{ cart[0].quantity }}</p>
      </div>
    </li>
    <li class="avatar_icon">
      <img src="../../../assets/images/image-avatar.png" alt="" />
    </li>
  </ul>
</div>
