.container_menu {
  min-width: 375px;
}

.container_menu > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 1rem;
}

.menu_icon {
  cursor: pointer;
  padding: 0.5rem 0.5rem;
}

.logo_icon {
  margin-right: 1.5rem;
}

.cart_icon {
  margin-left: 3rem;
  margin-right: 0.5rem;
  padding: 0.5rem 0.5rem;
  cursor: pointer;
}

.avatar_icon {
  margin-right: 0.5rem;
}

.avatar_icon > img {
  height: 1.5rem;
}
