.container_menu {
  min-width: 375px;
}

.container_menu > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 1rem;
}

.menu_icon {
  cursor: pointer;
  padding: 0.5rem 0.5rem;
}

.logo_icon {
  margin-right: 1.5rem;
}

.cart_icon {
  margin-left: 3rem;
  margin-right: 0.5rem;
  padding: 0.5rem 0.5rem;
  cursor: pointer;
  position: relative;
}

.cart_quantity {
  position: absolute;
  top: 0;
  right: 0;
  background-color: hsl(26, 100%, 55%);
  color: white;
  border-radius: 10px;
  padding: 0 7px;
  font-size: 10px;
}

.avatar_icon {
  margin-right: 0.5rem;
}

.avatar_icon > img {
  height: 1.5rem;
}

.menu_items__desktop {
  display: none;
}

@media screen and (min-width: 1440px) {

  .container_menu {
    margin: 0 200px;
    padding: 1rem 0;
    border-bottom: 1px solid hsl(220, 14%, 75%);
  }

  .menu_icon {
    display: none;
  }

  .container_menu > ul {
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
  }

  .menu_items__desktop {
    display: block;
    margin-right: 10rem;
  }

  .menu_items__container {
    display: flex;
  }

  .menu_items__container > p {
    margin-right: 2rem;
  }

  .menu_items__container > p > a {
    text-decoration: none;
    color: hsl(219, 9%, 45%);
    font-weight: 400;
  }

  .menu_items__container > p > a:hover {
    border-bottom: 4px solid hsl(26, 100%, 55%);
    padding-bottom: 3rem;
  }

  .cart_icon {
    margin-left: 10rem;
    margin-right: 0;
  }

  .avatar_icon {
    margin-right: 0;
  }

  .avatar_icon > img {
    height: 3.5rem;
    cursor: pointer;
  }

  .avatar_icon > img:hover {
    outline: 2px solid hsl(26, 100%, 55%);
    border-radius: 30px;
  }
}
